.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.page {
    font-family: Roboto;
    color:#434455;
}
.logo {
color:#4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.menu-list {
color:#2E2F42;
/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

.body {
    color:#434455;
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
}